/* Users.module.css */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    height: 100vh;
    overflow-y: auto;
  }
  
  .title {
    font-size: 24px;
    margin: 1rem 0;
    text-align: center;
  }
  
  .userList {
    list-style-type: none;
    padding: 0;
  }
  
  .userItem {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 1rem;
    position: relative;
  }
  
  .userItem:hover {
    background-color: #e9ecef;
  }

  p {
    margin: 1rem;
  }

  .userItem .bio {
    opacity: 0;
    transition: opacity 0.3s, background-color 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75em;
    background-color: #ffffff;
    padding: 0.25rem;
    border-radius: 0.25rem;

    transform: translate(0, -50%);
  }

  .userItem:hover .bio {
    background-color: #e9ecef;

    opacity: 1;
  }